{% extends "base.html" %}
{% block title %}AU Math & CS Tutoring App{% endblock %}


{% block content %}

<div class="container">
	<div class="page-header">
		<h2>Admin Console</h2>
	</div>

	{{ self.flashme() }}
	
	<div class="row">
		<div class="col-md-12">
			<form method="POST">
				<div class="form-group">
					<a href="{{ url_for('index') }}"
						class="btn btn-lg btn-primary">Dashboard</a>
					<a href="{{ url_for('users') }}"
						class="btn btn-lg btn-primary">Manage Users</a>
					<a href="{{ url_for('courses') }}" 
					   class="btn btn-lg btn-primary">Manage Courses</a>
				</div>
			</form>
		</div>
</div>

{% endblock %}
