{% extends "base.html" %}
{% block title %}AU Math & CS Tutoring App{% endblock %}


{% block content %}
<div class="container">

	<div class="page-header">
		<h2>Clock out</h2>
	</div>

	{{ self.flashme() }}

	<h2>Summary</h2>

	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8"><p>Please provide a brief summary of your tutoring 
	session. Include any noteworthy items, such as common questions, unsual attendance,
	common concerns, etc.</p>
	</div>
	<div class="col-md-2"></div>
	</div><!-- row -->

	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<p>This session started on 
	{{ ts.started.strftime('%a, %b %d %Y at %-I:%M %p') }}.</p>
	
	<form method="POST">
		{{ form.cstf_token }}
		<div class="form-group">
			<label for="summary">Summary</label>
			<textarea class="form-control" rows="6"
				name="summary" id="summary"></textarea>	
		</div>

		<input type="submit" class="btn btn-lg btn-warning"
			value="Submit and clock out">
	</form>
	</div><!-- col-md-8 -->
	<div class="col-md-2"></div>
	</div><!-- row -->
</div><!-- container -->

{% endblock %}
