{% extends "base.html" %}
{% block title %}AU Math & CS Tutoring App{% endblock %}


{% block content %}
<div class="container">
	<div class="page-header">
		<h2>Dashboard for {{ user.name }}</h2>
	</div>

	{{ self.flashme() }}

	<p class="lead">
	{% if clock is none %}
	You are currently not clocked in
	{% else %}
	You have been clocked in since {{ 
		clock.started.strftime('%A, %B %-d at %-I:%M %P') }} ( {{
		duration }} minutes ago )
	{% endif %}
	</p>

	<form method="POST">
		{{ form.cstf_token }}
		<div class="form-group">
			{% if clock is not none %}
			<button disabled name="action" value="start" 
				class="btn btn-lg btn-primary">Clock in</button>
			{% if current_user.has_role('tutor') %}
			<a href="{{ url_for('post') }}" 
			   class="btn btn-lg btn-info">Record encouters</a>
			{% endif %}
			<a href="{{ url_for('clockout') }}" 
				class="btn btn-lg btn-warning">Clock out</a>
			<a disabled href="#" class="btn btn-lg btn-warning">Log out</a>
			{% else %}
			<button name="action" value="start" 
				class="btn btn-lg btn-primary">Clock in</button>
			{% if current_user.has_role('tutor') %}
			<a disabled href="#" 
			   class="btn btn-lg btn-info">Record encouters</a>
			{% endif %}
			<button disabled name="action" value="stop" 
				class="btn btn-lg btn-warning">Clock out</button>
			<a href="{{ url_for('security.logout') }}"
				class="btn btn-lg btn-warning">Log out</a>
			{% endif %}
			{% if current_user.has_role('admin') %}
				<a class="btn btn-lg btn-info" 
					href="{{url_for('reports')}}">Reports</a>
				<a class="btn btn-lg btn-danger" 
					href="{{url_for('admin')}}">Admin</a>
			{% endif %}
		</div>
	</form>
</div>

{% endblock %}
