{% extends "base.html" %}
{% block title %}AU Math & CS Tutoring App{% endblock %}


{% block content %}
<div class="container">

	<div class="page-header">
		<h2>Tutoring report</h2>
	</div>

	{{ self.flashme() }}

	<h3>Session Summary</h3>
	
	<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead class="thead-inverse">
				<tr>
					<th>Started</th>
					<th>Ended</th>
					<th>Tutor</th>
					<th>Students seen</th>
					<th>Comments</th>
				</tr>
			</thead>
			<tbody>
	{% for row in rows %}
			<tr>
				<td>{{ row.started.strftime("%d-%b-%Y   %I:%M %p") }}</td>
				<td>{% if not row.ended is none %}
					{{ row.ended.strftime("%d-%b-%Y   %I:%M %p") }}
					{% else %}
					Ongoing
					{% endif %}
				</td>
				<td><a href="{{url_for('report', reporttype='tutor',
						reportsubtype='details', id=row.id)}}">{{ 
					row.email }}</a></td>
				<td><span 
					class="badge badge-pill badge-primary">{{ row.count }}</span>
				</td>
				<td>{{ row.summary }}</td>
			</tr>
	{% endfor %}
			</tbody>
		</table>
	</div>
	</div><!-- row -->
</div><!-- container -->
{% endblock %}
